*__pycache__
*.DS_Store
runs
distance_prediction
features
wandb
images
graphs
data
dataset/
config/habitat_scene_dir/
habitat_data_dir/
vlmaps_data_dir/
*obj_names_features.txt
*place_names_features.txt
*.npy
*.yml
*checkpoints
*.ckpt
*logs
rgb.mp4
depth.mp4
vlmaps_data_dir/
habitat_scene_dir/
outputs
*.egg-info